
@{
    ViewData["Title"] = "Classification";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <div class="text-center">
        <h1 class="display-4">Classificatie</h1>
        <div>Zee-egels (zeeappels, zeeklitten, zanddollars; klasse Echinoidea) zijn stekelige, ongewervelde dieren die behoren tot het fylum stekelhuidigen (Echinodermata).</div>
        <br />
        <h1 class="display-5">Kenmerken</h1>
        <div>Zee-egels zijn meestal min of meer bolvormig, hartvormig of schijfvormig en hebben een onderstandige mond. Ze hebben een hard pantser dat meestal bedekt is met stekels. Het pantser bestaat uit kleine plaatjes waarop zich knobbels bevinden waarop de stekels beweegbaar zijn vastgehecht door middel van een kogelgewricht. De stekels dienen bij vele soorten voor de voortbeweging. Sommige soorten graven zich in met behulp van de stekels. De stekels hebben ook een beschermende functie. Enkele soorten kunnen zelfs gif uitstoten. Tussen de stekels bevinden zich kortgesteelde, uiteenlopende pedicellariën. Deze dienen ook voor de verdediging en voor het schoonhouden van de huid.</div>

        <h1 class="display-5">Afmetingen</h1>
        <div>Een gemiddelde zee-egel is 3 tot 10 cm in doorsnede. De grootste zee-egel (Sperosoma giganteum) bereikt een schaaldoorsnede van 32 cm.</div>
    </div>
