
@{
    ViewData["Title"] = "Classification";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="text-center">
    <h1 class="display-4">Classification</h1>
    <div>Op deze website vind je alle informatie over zee-egels. Samen met Stekeltje de zee-egel ga je op avontuur!</div>
    <br />
    <img width="400" height="264" src="~/image/noaa-fQG4_MkBlNY-unsplash.jpg" />
</div>
