@{
    ViewData["Title"] = "Zee-egel fotogalerij";
}

    <p>Hier vindt je een aantal leuke plaatsjes van zeeëgels. Wil je je eigen foto's hier ook zien mail ze dan naar <a href="mailto:zeeegels@provider.nl">Stekeltje</a></p>

<div class="row">
    <div class="col-md-4">
        <div class="thumbnail">
            <a href="~/image/plaatje1.png">
                <img src="~/image/plaatje1.png" alt="" style="width:100%">
                <div class="caption">
                    <p>Witte zee-egel</p>
                </div>
            </a>
        </div>
    </div>
    <div class="col-md-4">
        <div class="thumbnail">
            <a href="~/image/plaatje2.png">
                <img src="~/image/plaatje2_thumb.png" alt="" style="width:100%">
                <div class="caption">
                    <p>Blauwe zee-egel</p>
                </div>
            </a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="thumbnail">
            <a href="~/image/plaatje3.png">
                <img src="~/image/plaatje3_thumb.png" alt="" style="width:100%">
                <div class="caption">
                    <p>Zwarte zee-egel</p>
                </div>
            </a>
        </div>
    </div>
    <div class="col-md-4">
        <div class="thumbnail">
            <a href="~/image/plaatje4.png">
                <img src="~/image/plaatje4_thumb.png" alt="" style="width:100%">
                <div class="caption">
                    <p>Nog een witte zee-egel</p>
                </div>
            </a>
        </div>
    </div>
</div>