@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <div>Op deze website vind je alle informatie over zee-egels. Samen met Stekeltje de zee-egel ga je op avontuur!</div>
        <br />
        <img src="~/image/noaa-fQG4_MkBlNY-unsplash.jpg" />
    </div>
